:root {
  --primary-color: #84ad83;
  --secondary-color: #fbfbf6;
  --secondary-color-dark: rgb(43, 75, 108);
  --text-dark: black;
  --white:rgb(43, 69, 94);
  --black: #000000;
  --max-width: 1200px;

  --border-radius-m: 30px;
  --dark-color:#252525;
}

/* Basics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2.5rem 1rem;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 600;
}

.section-subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}


.section-subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid var(--white);
}

.button-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button span {
  font-size: 1.2rem;
  transition: 0.3s;
}

.button:hover span {
  transform: translateX(5px);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: monospace, sans-serif;
  color: var(--white);
}

header {
  background-image: url("../img/ai-loan-underwriting-within-retail-banking-where-artificial-intelligence-evaluates-risk-factor.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Navigation */
nav {
  margin: auto; 
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color:rgb(20, 19, 19);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(4, 4, 4, 0.722);
}


.navigation-logo a {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 8px 18px;
  border-radius: 15px;
}


.navigation-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.8rem; 
}

.navigation-link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease, letter-spacing 0.3s ease, transform 0.3s ease;
}

.navigation-link a.active {
  color: #4faae6;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transform: scale(1.05); 
}



.navigation-link a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  transform: translateY(-1px);
}

.profile-dropdown {
  position: relative;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #337ab7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

.profile-dropdown-box {
  display: none;
  position: absolute;
  right: 0;
  top: 122%;
  margin-top: 10px;
  min-width: 220px;
  background: #fbfbf6;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(32, 31, 31, 0.2);
  z-index: 20;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px; 
  right: 12px;
}

.profile-dropdown-content {
  padding: 10px 0;
}

.profile-dropdown-content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
  white-space: nowrap;
}

.profile-dropdown-content a:hover {
  background-color: #e7e7e7;
}

.mobile-only {
  display: none;
}

.navigation-menu-button {
  display: none;
  font-size: 1.5rem;
}

.header-container {
  padding-block: 5rem 12rem;
  padding-top: 200px;
}


.header-container h1 {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.header-container .button {
  margin: auto;
}

.button {
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #eae9dd;
  text-decoration: #84ad83;
}

.header-container h3 {
  text-align: center;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}


.about {
  background-color: var(--secondary-color);
}

.about-container {
  padding-block: 0;
}

.about-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr;
  gap: 4rem;
  align-items: center;
  background-color: #eae9dd;
  transform: translateY(-5rem);
  border-radius: 10px;
}

.about-content .section-header  {
  margin-bottom: 1rem;
}

.about-content .paragraph{
  color: var(--text-dark);
  line-height: 1.5;
}

.about-table .section-subheader {
  margin-top: 1.5rem;
}

.latest-entry-wrapper {
width: 100%;
padding: 3.5rem 1rem;
}

.section-subheader--color::after {
background-color: #a8c686; 
}

.section-subheader--logo::after {
  background-color: transparent;
  background-image: url("../img/freepik__background__55166.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.section-subheader--logo {
  padding-left: 48px;
}

.about-table {
  align-items: flex-start;
  width: 100%;
}

.latest-entry-table {
  width: 100%;
  font-size: 1rem;
  color: rgb(43, 69, 94);
  margin-top: 1rem;
}

.latest-entry-table th,
.latest-entry-table td {
padding: 12px 16px;
vertical-align: middle;
}

.latest-entry-table th {
  text-align: left;
 
  font-weight: 600;
  width: 140px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.latest-entry-table td {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#latest-stress {
transition: all 0.3s ease;
font-weight: bold;
}

.stress-low {
color: #84ad83;     
}

.stress-medium {
color: #f6b500;    
}

.stress-high {
color: #c44747;     
}

/* Button styling for about list */

/* Base button style */
.btn {
  padding: 12px 26px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: monospace, sans-serif;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}


.btn-primary {
  background-color: #4a7c8c;
  color: white;
}

.btn-primary:hover {
  background-color: #84ad83;
  color: #fff;
}

.btn-secondary {
  font-family: monospace, sans-serif;
  background-color: #2c786c;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #1f5a4f;
  color: #fff;
}


/* Accordion */

.accordion-container {
  margin-top: 1.5rem; 
}

.accordion {
background-color: var(--secondary-color-dark);
color: var(--secondary-color);
cursor: pointer;
padding: 1rem 1.5rem;
width: 100%;
text-align: left;
font-size: 1.1rem;
font-weight: 600;
border: none;
border-radius: var(--border-radius-m);
transition: background-color 0.3s ease;
display: flex;
justify-content: space-between;
align-items: center;

}

.accordion:hover,
.accordion.active {
background-color: #a8c686;
color: black;
}

.accordion-icon {
font-size: 1.5rem;
font-weight: bold;
transition: transform 0.3s ease;
margin-left: 1rem;
}

.accordion.active .accordion-icon {
transform: rotate(180deg); /* + turns into × */
}

/* Accordion panel */
.panel {
background-color: var(--secondary-color); 
color: var(--text-dark);
padding: 1rem 0;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease;
cursor: pointer;
}


  /* Info*/
.Info {
background-color: var(--secondary-color);
}

.Info-container {
background-color: var(--secondary-color);
}

.Info-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 1.5rem;
  }

.Info-card {
    background-color:inherit;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }

.Info-card:hover {
transform: translateY(-5px);
}

.Info-card img {
  width: 100%;
  max-width: 300px;
  max-height: 180px;
  object-fit: contain;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 5px;
}

.Info-card img:not([src]), 
.Info-card img[src=""] {
  display: none;
}

.Info-card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--black);
  }

.Info-card p {
color: var(--text-dark);
line-height: 1.5;
}

/* Statistics and Chart*/
.statistics {
  background-color: #fbfbf6;
}

.statistics-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.statistics-content .section-header {
  margin-bottom: 1rem;
}

.statistics-content .paragraph {
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.statistics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.statistics-card span{
  font-size: 1.75rem;
  color: #34718d;
}

.statistics-card h3 {
  font-size: 2rem;
  font-weight: 700;
}

.statistics-card p {
  font-weight: 500;
}

.statistics-card {
  position: relative;
}

.statistics-card .tooltiptext {
  position: absolute;
  bottom: calc(100% - 6px);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-width: 800px; 
  width: 100%;     
  white-space: normal;
  z-index: 10;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
}


.statistics-card:hover .tooltiptext {
opacity: 1;
visibility: visible;
pointer-events: auto;
transform: translateX(-50%) translateY(-5px);
}

.tooltip-readiness {
  background-color: #4E79A7; 
  color: white;
  font-weight: 600;
}

.tooltip-readiness::after {
  border-color: #4E79A7 transparent transparent transparent; 
}


.tooltip-stressi-indeksi{
  background-color: #F28E2B; 
  color: white;
  font-weight: 600;
}

.tooltip-stressi-indeksi::after {
  border-color: #F28E2B transparent transparent transparent; 
}

.tooltip-RMSSD{
  background-color: #76B7B2; 
  color: white;
  font-weight: 600;
}

.tooltip-RMSSD::after {
border-color: #76B7B2 transparent transparent transparent; 
}

.tooltip-Syke {
background-color: #E15759; 
color: white;
font-weight: 600;

}

.tooltip-Syke::after {
border-color: #E15759 transparent transparent transparent; 
}


.statistics-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}


.chart-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  aspect-ratio: 3 / 2;
  height: auto;
}

@supports not (aspect-ratio: 1 / 1) {
  .chart-wrapper {
    height: 400px;
  }
}

.chart-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: block;
}


/* Chart History Section */
.chart-section {
  background-color: var(--secondary-color);
}

.chart-section .paragraph {
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.controls {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#chartdiv {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
}
.custom-select-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

#chartTypeSelect {
  width: 100%;
  padding: 12px 16px;
  padding-right: 50px; 
  font-size: 1.2rem;
  background-color: #f0f0f0;
  color: black;
  border: 2px solid #302d2f;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  font-family: monospace, sans-serif;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 16px; 
  transform: translateY(-50%);
  font-size: 1.5rem; 
  color: black;
  pointer-events: none;  
  
}

.range-toggle {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
  
}

.range-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ededed;
  background:  #a8c686;
  font-weight: bold;
  min-width: 120px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: monospace, sans-serif;
  color: black;
}

.range-btn.active {
  background: #2c786c;
  color: rgba(255, 255, 255, 0.896);
  border-color: #585858;
}

  /* Footer*/
.footer {
  background-color: #eae9dd;
  padding: 0.8rem 1rem 1rem;
}

.footer {
  background-color: #eae9dd;
  padding: 0.8rem 1rem 1rem;
}

.footer-container {
  margin: 0 auto;
  text-align: left;
}

.footer-section h4 a {
  font-size: 2.2rem;
  font-weight: 700;
  text-decoration: none;
}

.footer-section h4 {
  text-align: center;
}


.footer-section p {
  margin-top: 1rem;
  color: black;
  line-height: 1.5;
  text-align: center;
}

.footer-bar {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 0.85rem;
  color: #000000;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  font-weight: bold;
}

  /* Keyframes & Responsive*/

@keyframes arrow-bounce {
  0% { transform: translateX(0); }
  50% { transform: translateX(6px); }
  100% { transform: translateX(3px); }
}


@media (width < 1200px) {
nav {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: var(--black);
  z-index: 99;
}

.navigation-links  {
  position: absolute;
  left: 0;
  top: 68px;
  padding: 2rem;
  width: 100%;
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
}

#menu-btn-icon {
  color: white;
  cursor: pointer;
  font-weight: 900;
  text-shadow: 0 0 1px white;
}

.navigation-links .navigation-link a {
  opacity: 0;
}

.navigation-links.open .navigation-link a {
  opacity: 1;
}

.navigation-links.open  {
  transform: scaleY(1);
}

.navigation-menu-button {
  display: block;
  
}

.profile-dropdown {
  display: none;
}


.mobile-only {
  display: block;
}

.entry-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  margin-top: 1.5rem;
}


}

@media (max-width: 900px) {

  .about-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem; 
  }

  .about-item.about-table {
    width: 100%;
  }

  .latest-entry-table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  .entry-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .btn {
    width: 100%;
  }

  .statistics-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .Info-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
  }

  .Info-card {
    display: block;
    text-align: center;
  }

  .Info-card img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto 1rem;
    display: block;
    border-radius: 5px;
  }

  .footer-bar {
    text-align: center;
    margin-top: 1.5rem;
  }

  .statistics-card .tooltiptext {
    max-width: 800px;
  }

  .panel img {
    width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
    display: block;
    object-fit: contain;
  }

  .panel {
    display: block;
  }

  .section-header {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .header-container h1{
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .entry-buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
  
  
}

@media (max-width: 600px) {

  .Info-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
  }

  .Info-card {
    grid-template-columns: 1fr;
  }

  .Info-card img {
    width: 100%;
    margin: 0 auto 1rem;
    display: block;
    max-width: 100%;
    max-height: 150px;

  }


  .cta-buttons {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

 
  .statistics-image{
    grid-template-columns: repeat(1, 1fr);
  }

  .statistics-image canvas {
    height: 200px;
    max-width: 100%;
  }

  .statistics-card h3 {
    font-size: 1.5rem;
  }

  .statistics-card p {
    font-size: 0.9rem;
  }

  .entry-buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem;
  }
  

}