.lora-text{
  font-family: "Lora", serif;
  font-style: normal;
}

:root {
  --primary-color: #84ad83;
  --secondary-color: #fbfbf6;
  --secondary-color-light: rgb(43, 75, 108);
  --text-light: black;
  --white: rgb(43, 69, 94);
  --black: #000000;
  --max-width: 1200px;

  --border-radius-m: 30px;
  --dark-color: #252525;
}

body {
  font-family: monospace, sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
}

body {
    font-family: monospace, sans-serif;
    color: var(--white);
  }

  nav {
    margin: auto; 
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color:rgb(20, 19, 19);
  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(4, 4, 4, 0.722);
  }
  
  .navigation-logo a {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 8px 18px;
    border-radius: 15px;
  }
  
  .navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.8rem; 
  }
  
  .navigation-link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    color:white;
    transition: all 0.3s ease-in-out;
  }
  
  .navigation-link a.active {
    color: #4faae6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
   
  }
  
  .navigation-link a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    transform: translateY(-1px);
  }
  
  .profile-dropdown {
    position: relative;
  }
  
  .profile-button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #337ab7;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .profile-dropdown-box {
    display: none;
    position: absolute;
    right: 0;
    top: 122%;
    margin-top: 10px;
    min-width: 220px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 20;
    
  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -5px; 
    right: 12px;
  }
  
  .profile-dropdown-content {
    padding: 10px 0;
  }
  
  .profile-dropdown-content a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
    white-space: nowrap;
  }
  
  .profile-dropdown-content a:hover {
    background-color: #f5f5f5;
  }
  
  .mobile-only {
    display: none;
  }
  
  .navigation-menu-button {
    display: none;
    font-size: 1.5rem;
  }

.navigation-logo a {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 8px 18px;
  border-radius: 15px;
}

.navigation-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.8rem; 
}

.navigation-link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  color:white;
  transition: all 0.3s ease-in-out;
}

.navigation-link a.active {
  color: #4faae6;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
 
}

button:hover {
    background-color: #494b49;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    width: 90%;
    max-width: 300px;
    text-align: center;
}

.button-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.login-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color:#4faae6;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}

.close-button {
    margin-top: 10px;
    padding: 8px;
    background: #ff4538;
    color: white;
    cursor: pointer;
    width: 100%;
}

.close-button:hover {
  background: #cc392f;
}

#result-content {
    text-align: left;
    margin-bottom: 15px;
}


.footer {
  background-color: #eae9dd;
  padding: 0.8rem 1rem 1rem;
}

.footer-container {
  margin: 0 auto;
  text-align: left;
}

.footer-section h5 a {
  font-size: 2rem;
  font-weight: 700;
  color: #2a2a2a;
  text-decoration: none;
}

.footer-section h5 {
  text-align: center;
}


.footer-section p {
  margin-top: 1rem;
  color: #333;
  line-height: 1.6;
  text-align: center;

}

.footer-bar {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 0.85rem;
  color: #000000;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  font-weight: bold;
}


/* Responsive Navbar */
@media (max-width: 1200px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 99;
  }

  .navigation-links {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    gap: 0.5rem;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 999;
}

.navigation-links .navigation-link a {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white; 
}

.navigation-links.open {
  transform: scaleY(1);
}

.navigation-links.open .navigation-link a {
  opacity: 1;
}

.navigation-links .navigation-link {
  margin-bottom: 1.2rem;
}

.navigation-menu-button {
  display: none;
  font-size: 1.5rem;
}

.container {
  max-width: var(--max-width);
  width: 90%;
  margin: 140px auto 60px;
  padding: 3rem 2rem;
  background-color: white;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  font-size: 26px;
  color: var(--dark-color);
  margin-bottom: 25px;
}

.question {
  margin-bottom: 35px; 
  padding-bottom: 15px; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  font-size: 18px;
  color: var(--dark-color);
}

.question p {
  font-size: 18px;
  margin-bottom: 10px;
}


button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-top: 10px;
}
  .profile-dropdown {
    display: none; 
  }
  
  .mobile-only {
    display: block; 
  }
  
  .container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0.5rem;
  margin-top: 100px;
  gap: 2rem;
  }

button:hover {
  background-color: #6b906b;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 320px;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--dark-color);
}

.close-button {
  margin-top: 15px;
  padding: 10px;
  background: #ff4538;
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
}

.accordion {
  padding: 20px;
}


#result-content {
  text-align: left;
  margin-bottom: 15px;
  font-size: 16px;
}

.info {
  background-color: #fff;
  padding: 25px;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.info h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--dark-color);
}

.info p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--dark-color);
}

.info a {
  color: #4faae6;
  text-decoration: none;
  font-weight: bold;
}

.info a:hover {
  text-decoration: underline;
}

@media (width < 1200px) {
    nav {
      position: fixed;
      width: 100%;
      padding: 1rem;
      background-color: var(--black);
      z-index: 99;
    }
  
    .navigation-links  {
      position: absolute;
      left: 0;
      top: 68px;
      padding: 2rem;
      width: 100%;
      flex-direction: column;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.9);
    }
  
    .navigation-links .navigation-link a {
      opacity: 0;
    }
  
    .navigation-links.open .navigation-link a {
      opacity: 1;
    }
  
    .navigation-links.open  {
      transform: scaleY(1);
    }
  
    .navigation-menu-button {
      display: block;
    }
   
  }
 
}

@media (width < 900px) {

  .about-grid {
    grid-template-columns: repeat(1, 1fr);
  }


  .Info-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

}

@media (width < 600px) {

  .header-container h1{
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .Info-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .cta-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .cta-btn {
    width: 80%;
    justify-content: center;
  }

}
